<div>
	<h3>Order History</h3>
	<div class="row">
		<div class="col-md-12">
			<table>
				<tr>
					<th>#</th>
					<th>Stock</th>
					<th>Qty</th>
					<th>Avg Price</th>
					<th>Type</th>
					<th>Order Time</th>
				</tr>
				<tr ng-repeat="ord in myorders | orderBy: 'order_time' : true track by $index">
					<td>{{$index+1}}</td>
					<td>{{ord.stock}}</td>
					<td>
						<span ng-if="ord.type == 'Buy'" class="col-green">{{ord.quantity}}</span>
						<span ng-if="ord.type == 'Sell'" class="col-red">-{{ord.quantity}}</span>
					</td>
					<td>{{ord.order_price}}</td>
					<td>{{ord.type}}</td>
					<td>{{ord.order_time | date : 'MMM d, y h:mm:ss'}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>