<style>
.place-order{ background: #f1f1f1; padding:30px; }
.place-order h3{ margin-top:0;}
.place-order .row{ margin-top:30px; }
.padd-left{ padding-left:0; }
.place-order .lbl{ padding-top:5px; }
.form-control{ height:30px; }
.r1{ padding-top:10px; }
</style>
<div class="place-order">
	<h3>Place Order</h3>
	<div class="row">
		<form name="place_order">
			<div class="col-md-12 r1">
				<label class="col-md-3 padd-left lbl">Stock</label>
				<div class="col-md-3 padd-left">
					<select id="stockSelectName" class="form-control" ng-model="order.stock" required>
						<option ng-repeat="stock in current_price" value="{{stock.stockName}}">{{stock.stockName}}</option>
					</select>
				</div>
				<div class="col-md-4 padd-left">
					<label ng-class="{strike: order.type}">Buy</label>
					<label class="toggle-btn">
		        		<div class="switch">
						  <input type="checkbox" ng-model="order.type" ng-change="togglePlugin();">
						  <span class="slider round"></span>
						</div>
	        		</label>
	        		<label ng-class="{strike: !order.type}">Sell</label>
				</div>
			</div>
			<div class="col-md-12 r1">
				<label class="col-md-3 padd-left lbl">Quantity</label>
				<div class="col-md-3 padd-left">
				<input class="form-control" required type="number" ng-model="order.quantity"></div>
				<label class="col-md-3 padd-left lbl">Current Price</label>
				<label class="col-md-3 padd-left"><span ng-if="order.stock">{{current_price[order.stock].stockPrice}}</span></label>
			</div>
			<!--<div class="col-md-12">
				<label class="col-md-3">Type</label>
				<label class="col-md-3">
					<input ng-model="order.type" required type="radio" value="Market" name="type"> Market 
					<input ng-model="order.type" required type="radio" value="Limit" name="type"> Limit
				</label>
				<label class="col-md-3" ng-if="order.type == 'Limit'"><input required type="text" ng-model="order.limit"></label>
			</div>-->
			<div class="col-md-12">
				<button ng-disabled="place_order.$invalid" ng-click="new_order();" class="btn" ng-class="{'btn-primary': !order.type, 'btn-danger': order.type}">{{order.type ? 'Sell': 'Buy'}}</button>
			</div>
		</form>
	</div>
</div>