<!DOCTYPE html>
<html>
<head>
	<title>Stock Trend</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/chosen.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="firebase.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-7617690912378152",
	    enable_page_level_ads: true
	  });
	</script>
</head>
<body ng-app="todoApp" class="stocktrend">
	<header>
		<div class="headerdiv container">
			<h1>Stock Trend</h1>
			<p>Intraday live signal based on the trend, Fly on the flow.</p>
		</div>
		<div class="subheaderdiv">
			<div class="container">
				<ul>
					<li>Login</li>
					<li>Register</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="InvestingCustomization container"  ng-app="todoApp" ng-controller="TodoListController">
		<div style="position:relative">
    		<span class="index_trend">
				<label style="background:linear-gradient(to right,{{colors[current_price['Nifty 50'].fiveMins]}} 25% ,{{colors[current_price['Nifty 50'].fifteenMins]}} 50% ,{{colors[current_price['Nifty Bank'].hourly]}} 75%, {{colors[current_price['Nifty 50'].daily]}} 100%) 0 0;">
					<span>Nifty {{current_price['Nifty 50'].stockPrice}}</span>
				</label> | 
				<label style="background:linear-gradient(to right,{{colors[current_price['Nifty Bank'].fiveMins]}} 25% ,{{colors[current_price['Nifty Bank'].fifteenMins]}} 50% ,{{colors[current_price['Nifty Bank'].hourly]}} 75%, {{colors[current_price['Nifty Bank'].daily]}} 100%) 0 0;">
					<span>Nifty Bank {{current_price['Nifty Bank'].stockPrice}}</span>
				</label>
			</span>
    		<ul class="nav nav-tabs">
			  <li ng-click="tab=1;" ng-class="{active: tab === 1}"><a href="#">Signals</a></li>
			  <li ng-click="tab=2;" ng-class="{active: tab === 2}"><a href="#">Summary</a></li>
			  <li ng-click="tab=3;" ng-class="{active: tab === 3}"><a href="#">History</a></li>
			</ul>
		</div>

		<div class="tab_content">
			<div ng-if="tab == 1" class="summary" ng-include src="'template/signal.html'"></div>
			<div ng-if="tab == 2" class="today_signal" ng-include src="'template/summary.html'"></div>
			<div ng-if="tab == 3" class="allsignals" ng-include src="'template/history.html'"></div>
			<div ng-if="tab == 4" class="virtual_training" ng-include src="'template/training.html'"></div>
		</div>
		<div ng-if="login" class="login" ng-include src="'template/login.html'"></div>
		<div ng-if="register" class="register" ng-include src="'template/register.html'"></div>
    </div>
    <script src="//harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controller/common.js"></script>
    <script type="text/javascript" src="controller/training.js"></script>
</body>
</html>