*{margin:0;font-family: calibri;}
p,h1,ul{margin:0;}
.InvestingCustomization{
  margin-top: 20px;
}
.InvestingCustomization table td span{
  display: inline-block;width: 10px;height:10px;border-radius: 50%;
}
.InvestingCustomization table td span.Neutral{
  background: gray;
}
.InvestingCustomization table td span.Sell{
  background: lightpink;
}
.InvestingCustomization table td span.Strong.Sell{
  background: red;
}
.InvestingCustomization table td span.Buy{
  background: lightgreen;
}
.InvestingCustomization table td span.Strong.Buy{
  background: green;
}
.InvestingCustomization table th, .InvestingCustomization table td {
    padding: 5px;
}
.InvestingCustomization table th {
    font-weight: bold;
}
.cp{cursor: pointer;}
.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.InvestingCustomization td{font-size: 14px;}
.InvestingCustomization .toggle-btn{width: 30px;height: 17px;position: relative;}
.change_date{font-size: 20px;margin:10px 0;}
.col-md-6, .col-sm-12{margin-bottom: 20px;}
.summary{margin-top: 20px;}
header{background: #1565C0;}
header div{padding: 10px;color: #fff;}
header div.subheaderdiv{background: #2A8EFF;text-align: right;padding: 5px;}
header div.subheaderdiv .container{padding:0;}
header div.subheaderdiv ul, header div.subheaderdiv ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
.performance_download{float: right;}
thead{
    background: #2A8EFF;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.index_trend {
    position: absolute;
    right: 0;
    font-size: 20px;
    top: 10px;
}

.index_trend label {
  background-size:100% 100%;
  display:inline-block;
  padding:0;
}
.index_trend span {
  font-weight:bold;
  font-family:monospace;
  box-shadow:inset 0 0 0 1000px white;
  mix-blend-mode:screen;
  text-shadow:0 0 2px white;
  display: block;
}

.allsignals .filter > span{display: inline-block;width: 150px;font-weight: bold;}
.links{text-align: center;margin-bottom: 20px;}
.links label.active{border-bottom: 2px solid;}
.allsignals{position: relative;}
.allsignals .search{position: absolute;right: 10px;top: 105px;}
.allsignals table{margin-top:20px;}
/*.earAdv{display: none !important;}
#rightColumn{width: 600px !important;}
.wrapper{width: 100% !important;}*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter{margin-top: 10px;}

/* The container */
.filter label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-left: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.filter label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.filter label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.filter label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.filter label input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.filter label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.filter label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.filter label .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}